<div class="row">
  <div class="col-md-8">
    <!-----ngSubmit pour ajouter une méthode à executez quand l'utilisateur fait la sousmission des données-------->
    <form [formGroup]="userForm" (ngSubmit)="OnSubmit()" >
      <div class="form-group">
        <label>
          The book name:
        </label>
        <input type="text" id="name" class="form-control"  name="name" formControlName="name" >
        <div *ngIf="userForm.get('name').hasError('required')" class="alert alert-danger">
          problem
        </div>
      </div>
      <!--  <div class="form-group">
          <label for="status">
            Book language
          </label>
          <select id="status" class="form-control" name="language" [ngModel]="defaultlgn">
            <option value="Eng">English</option>
            <option value="Fr">French</option>
          </select>
        </div>-->
      <button class="btn btn-warning" type="submit" [disabled]="userForm.invalid"> save</button>
    </form>

  </div>

</div>
<p>{{ user.name}}</p>
{{ userForm.status}}
