<div class="row">
  <div class="col-md-8">
    <!-----ngSubmit pour ajouter une méthode à executez quand l'utilisateur fait la sousmission des données-------->
    <form (ngSubmit)="OnSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label>
            The book name:
          </label>
          <input type="text" id="name" class="form-control"
                 name="name" [(ngModel)]="user.name" #n="ngModel" required minlength="3">
          <div *ngIf="n.invalid" class="alert alert-danger">
            <div *ngIf="n.errors.required">
              this field is required
            </div>
            <div *ngIf="n.errors.minlength">
              Name must be at least 4 characters long
            </div>
          </div>
        </div>
      <button class="btn btn-warning" type="submit" [disabled]="f.invalid"> save</button>
    </form>

  </div>

</div>
